
*{
    color:black;
}
.messages-page {
    background: #fd746c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(124, 119, 119, 0.1);
    border-radius: 8px;
    text-align: left;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  .messages-list {
    margin-top: 20px;
  }
  .messages-list .message {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(124, 119, 119, 0.1);
    border-radius: 8px;
  }
  .messages-list .message h2 {
    margin-bottom: 10px;
    color: #333;
  }
  .messages-list .message p {
    color: #666;
  }
  span {
    display: block;
    font-size: 15px;
    color: #999;
  }
  .dismiss-button1 {
    position: relative;
    top: 50%;
    left: 96%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #815c5c;
    text-align: end;
  }