
.queries-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(200, 17, 17, 0.1);
    border-radius: 8px;
    background: #fd746c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border:2px solid black;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  .query-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  input[type="file"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #192225fd;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #199ada;
  }